doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='csrf-token', content=_csrf)
    title #{title} - adopt
    != css('main')
  body
    .navbar.navbar-default.navbar-fixed-top.navbar-transparent
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/')
            | Adopt
        .collapse.navbar-collapse
          ul.nav.navbar-nav
            li(class=title=='Home'?'active':undefined)
              a(href='/') Home
            li(class=title=='About'?'active':undefined)
              a(href='/#about') About
            li(class=title=='Contact'?'active':undefined)
              a(href='/contact') Contact
          ul.nav.navbar-nav.navbar-right
            if !user
              li(class=title=='Login'?'active':undefined)
                a(href='/login') Login
              li(class=title=='Create Account'?'active':undefined)
                a(href='/signup') Create Account
            else
              li.dropdown(class=title=='Account Management'?'active':undefined)
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  if user.profile.picture
                    img(src='#{user.profile.picture}')
                  else
                    img(src='#{user.gravatar(60)}')
                  | #{user.profile.name || user.email || user.id}&nbsp;
                  i.caret
                ul.dropdown-menu
                  li
                    a(href='/account') My Account
                  li.divider
                  li
                    a(href='/logout') Logout

    .video-bg
      video(autoplay loop muted)
        source(src="/images/city_street.webm" type="video/webm")
        source(src="/images/city_street.mp4" type="video/mp4")
    .jumbotron.landing-jumbotron
      .container
        include partials/flash
        .col-md-10.col-md-offset-1
          h1.text-uppercase Making Public Works, Public
          br
          p.lead.
            Adopt allows you to find and tackle local problems through direct
            action or sponsoring. We aim to make your community a better place, 
            one project at a time.
          br
          br
          a.btn.btn-transparent-light.btn-xl(href='/signup') Join Now
    #about
      .jumbotron.height-95
        .container.text-center
          .col-md-10.col-md-offset-1
            h1 How it Works
            br
            p.
              Sign up and view reported problems in your neighborhood - 
              unpainted fire hydrants, dirty parks, broken fences, and more.  You can pledge
              rewards to help solve the problem, or adopt it and solve it yourself.
            .row
              .col-md-4
                h2 Join&nbsp;&nbsp;#[i.fa.fa-users]
                p.
                  Join our community of volunteers and philantropists and view 
                  problems that need fixing in your neighborhood.
              .col-md-4
                h2 Pledge&nbsp;&nbsp;#[i.fa.fa-heart]
                p.
                  Pledge resources towards the problem so that it can be
                  fixed.
              .col-md-4
                h2 Adopt&nbsp;&nbsp;#[i.fa.fa-thumb-tack]
                p.
                  Adopt tasks in your neighborhood, earning perks and helping
                  the community at the same time.
            br
            br
            a.btn.btn-transparent-dark.btn-xl(href='/signup') Adopt Today

    include partials/footer

    != js('application')
    script.
      $(window).scroll(function() {
        if ($(window).scrollTop() > 10) {
          if ($('.navbar-default').hasClass('navbar-transparent')) {
            $('.navbar-default').removeClass('navbar-transparent');
          }
        } else {
          if (!$('.navbar-default').hasClass('navbar-transparent')) {
            $('.navbar-default').addClass('navbar-transparent');
          }
        }
      });
